In [2]:
import pandas as pd
from ID3 import ID3
from trees.trees import *

df = pd.read_csv("./fake_ds.csv")


# def gb(df, op):

#     tmp_df = df.copy()


#     for resi in range(10):

#         mean_y = tmp_df[op].mean()
#         for i in tmp_df.index:
#             tmp_df[f"Residual_{resi}"] = tmp_df[op] - mean_y

#         tmp_df.drop(columns=op, inplace=True)

#         tree = ID3(tmp_df, f"Residual_{resi}")

#         tree.build_tree()
#         tree.show_tree()
#         tree.create_tree(f"tree_{resi}")

#         for i in tmp_df.index:
#             tmp_df.loc[i, op] = 0.1 * tree_list[resi](tmp_df.loc[i].to_dict()) + mean_y

#         print(f"Tree {resi} Completed")

        


# gb(df, "HoursPlayed")

df["hello"] = 6
df

     Outlook  Temp Humidity  Windy  HoursPlayed  hello
0      Rainy   Hot     High  False           25      6
1      Rainy   Hot     High   True           30      6
2   Overcast   Hot     High  False           46      6
3      Sunny  Mild     High  False           45      6
4      Sunny  Cool   Normal   True           52      6
5      Sunny  Cool   Normal   True           23      6
6   Overcast  Cool   Normal  False           43      6
7      Rainy  Mild     High  False           35      6
8      Rainy  Cool   Normal  False           38      6
9      Sunny  Mild   Normal  False           46      6
10     Rainy  Mild   Normal   True           48      6
11  Overcast  Mild     High   True           52      6
12  Overcast   Hot   Normal  False           44      6
13     Sunny  Mild     High   True           30      6